{% extends "base.html" %}

{% block title %}Admin Login{% endblock %}

{% block content %}


<h1>Admin Login Page</h1>
<div class="card" style = "margin-left:30%;margin-right:30%;margin-top:10%;padding-left:10%;padding-top:5%;padding-bottom:5%;" >

<form action="#" method = "POST" >
  <p>Name:</p>
  <input type="text" name="user_name" placeholder="Enter your username" value="{{user_name if user_name}}"/>
  <p>Password:</p>
  <input type="password" name="password" placeholder="Enter your password" />
  <input type="submit" name="submit" />
</form>
</div>

{% endblock %}
