{% extends "base.html" %}
{% block title %}Ticket Show Booking System {% endblock %}

{% block content %}
<h1>Ticket Show Booking System</h1>
<div class="card">
  <div class=card-header>
    <p>
      Login/Register
    </p>
  </div>
  <div class="card-body" >
    <p>
      <a href="/admin_login" class="btn btn-primary" >Admin Login</a>
    </p>
    <p>
      <a href="/user_register" class="btn btn-primary" >Register User</a>
    </p>
    <p>
      <a href="/user_login" class="btn btn-primary" >Login User</a>
    </p>
  </div>

</div>
{% endblock %}
