{% extends "base.html" %}

{% block title %}Venues{% endblock %}

{% block content %}
<form action="#" method = "POST" >

  <p>
    Venue Name:
  </p>
  <input type="text" name="venue_name"  />
  <p>

    Venue Location:
  </p>
  <input type = "text" name = "venue_location" />
  <p>
    Venue Capacity:
  </p>
  <input type = "number" name="venue_capacity" />
  <p>
    Recliner row price:
  </p>
  <input type="number" name = "recliner_row_price"  />
  <p>
    Middle Row price :
  </p>
  <input type ="number" name="middle_row_price"  />
  <p>
    Front Row Price
  </p>
  <input type="number" name="front_row_price" />
  <input type="submit" name= "submit" />
</form>
{% endblock %}
